/**
 * Created by Sarfraz on 9/18/2016.
 *
 * Custom CSS for the app.
 *
 */

/* START: Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* END: Sticky footer styles */

body > .container {
    padding: 60px 15px 0;
}

.page-header {
    margin: 5px 0 0 0;
}

.navigations {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}

.navbar-brand {
    font-weight: bold;
}

.page-header h1 {
    margin: 0;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding: 0 10px;
}

code {
    font-size: 80%;
}

.form-group {
    margin: 0;
}

.nav-tabs li {
    opacity: 0.5;
}

.nav-tabs li.active {
    opacity: 1;
}

.form-group label.control-label {
    font-weight: bold;
    font-size: 14px;
}

.panel.panel-info > .panel-heading {
    font-weight: bold;
    font-size: 14px;
}